:root {
	--highlight: brown;
}

@font-face {
  font-family: 'TT2020';
  src: url('./assets/fonts/TT2020StyleD-Regular.woff2') format('woff2'),
			 url('./assets/fonts/TT2020StyleD-Regular.ttf')  format('truetype');
	font-weight: normal;
}

@font-face {
  font-family: 'TT2020';
  src: url('./assets/fonts/TT2020StyleE-Regular.woff2') format('woff2'),
			 url('./assets/fonts/TT2020StyleE-Regular.ttf')  format('truetype');
	font-weight: bold;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: 'TT2020', Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.test {
	color: var(--highlight);
}
